@page
@model JustAnotherTapasRestaurant.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="display-4">Contact Us!</h1>
    <p>Contact us here: </a></p>
</div>
