@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Just Another Tapas Restaurant</h1>
    <p>Another Tapas Restaurant that only does tapas, will only do tapas and is contributing to the oversaturated tapas market</a>.</p>
    <img src="/img/kermit.jpg">
</div>
